@font-face {
  font-family: 'Futura-Light';
  src: url("../../fonts/FuturaStd-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  padding: 65px 0 0 0;
  color: #eee;
  background-color: #000;
  font-family: Futura-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.2143rem; }

h1 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0.3571rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a, a:focus {
  color: #fff;
  transition: all 0.25s ease-in-out; }

a:hover {
  color: #00ffff; }

nav {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px 5px;
  background-color: #121212;
  vertical-align: middle;
  border-bottom: #262626 solid 1px; }
  nav .logo {
    width: 40px;
    height: auto;
    position: relative;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    opacity: .5;
    transition: opacity 0.5s ease-in-out; }
    nav .logo img {
      width: 40px;
      height: auto;
      margin-top: 7px; }
    nav .logo:hover {
      opacity: 1; }
  nav .nav-button {
    float: left;
    cursor: pointer;
    padding: 11px 20px 9px 11px;
    opacity: .5;
    transition: opacity 0.5s ease-in-out; }
    nav .nav-button:hover {
      opacity: 1 !important; }
  nav .overlay-menu {
    position: fixed;
    top: 56px;
    left: -281px;
    height: 100%;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 49;
    color: #eee;
    transition: left 0.45s ease-in-out; }
    nav .overlay-menu ul.nav-list {
      list-style: none;
      padding-left: 0;
      text-align: left; }
      nav .overlay-menu ul.nav-list li a {
        display: block;
        width: 100%;
        margin: 0 0 15px 15px;
        text-transform: uppercase;
        font-size: 1.4rem;
        padding-left: 15px;
        border-left: #333 1px solid;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.5s ease-in-out; }
        nav .overlay-menu ul.nav-list li a:hover {
          border-left: #00ffff 1px solid;
          color: #eee; }
      nav .overlay-menu ul.nav-list a.active {
        border-left: #ff0 1px solid !important;
        color: #eee !important; }
      nav .overlay-menu ul.nav-list li.last-child {
        margin-right: 0; }

.search .search-button {
  opacity: .5;
  position: fixed;
  top: 14px;
  right: 15px;
  font-size: 18px;
  transition: all 0.5s ease-in-out; }
  .search .search-button:hover {
    opacity: 1; }

.search .search-overlay {
  position: fixed;
  display: block;
  top: 53px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black; }

.search form {
  margin: 10px 15px 0 15px;
  text-align: left;
  border-left: #00ffff 1px solid; }
  .search form input {
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    height: 50px;
    width: 100%;
    font-size: 20px;
    padding-left: 15px; }
    .search form input:focus {
      outline: none; }

.clearfix {
  clear: both;
  content: "";
  display: block; }

.container {
  position: relative;
  width: 85%;
  max-width: 1120px;
  height: auto;
  margin: 0 auto; }

.content-row {
  position: relative;
  float: left;
  width: 99%;
  margin-right: -320px; }
  .content-row .content {
    position: relative;
    margin-right: 320px; }
    .content-row .content article {
      margin-bottom: 45px;
      position: relative;
      padding-left: 30px;
      border-left: #1b1b1b 1px solid;
      transition: border-left 0.5s ease-in-out; }
      .content-row .content article h1 i {
        font-size: 14px;
        color: #666; }
        .content-row .content article h1 i:hover {
          color: #00ffff; }
      .content-row .content article .article-inner .small-info {
        color: #6e6e6e;
        margin: 0;
        font-family: helvetica neue, helvetica, arial, sans-serif;
        font-size: 77%;
        letter-spacing: 1.25px; }
        .content-row .content article .article-inner .small-info .name {
          text-transform: capitalize; }
      .content-row .content article .article-inner .copy {
        line-height: 1.5rem;
        margin-bottom: 0;
        color: rgba(221, 221, 221, 0.8);
        font-size: 14px;
        letter-spacing: .08rem; }
        .content-row .content article .article-inner .copy img {
          width: 100%;
          height: auto;
          max-width: 500px; }
    .content-row .content article.post:hover {
      border-left: #00ffff 1px solid;
      cursor: pointer; }
    .content-row .content article.page {
      border-left: #00ffff 1px solid; }

.currently-playing {
  border-left: #ff0 1px solid !important; }

.copy {
  line-height: 1.571rem;
  margin-bottom: 0; }
  .copy img {
    width: 100%;
    height: auto;
    max-width: 500px; }

.side-bar {
  position: absolute;
  top: 65px;
  right: 0;
  width: 320px;
  border-left: #1b1b1b 1px solid;
  margin-right: 5px; }
  .side-bar .side-bar-content {
    margin: 10px; }
    .side-bar .side-bar-content p {
      letter-spacing: .05em;
      text-align: right; }
      .side-bar .side-bar-content p a {
        text-decoration: none;
        font-size: 13px; }

#player {
  display: block;
  width: 100%;
  position: fixed;
  bottom: -100px;
  left: 0;
  background-color: #121212;
  vertical-align: middle;
  border-top: #262626 solid 1px;
  transition: all 0.25s ease-in-out;
  margin-right: -320px;
  z-index: 51; }
  #player .container .title {
    display: block;
    padding-left: 30px; }
    #player .container .title p {
      margin: 15px 0;
      font-size: 22px; }
  #player .container .title:hover p {
    color: #ff0;
    cursor: pointer; }

.controls {
  position: relative;
  display: block;
  clear: both;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center; }
  .controls .player-btn {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 33.33%;
    height: 100%;
    float: left;
    background: #242424;
    border-right: 2px solid #121212;
    cursor: pointer;
    transition: all 0.25s ease-in-out; }
    .controls .player-btn i {
      color: #333;
      margin-top: 15px; }
    .controls .player-btn:hover {
      background-color: #00ffff; }

#loader {
  margin-left: 30px; }

.loader-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 48;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .loader-screen .load-animation {
    position: fixed;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -70px;
    text-align: center; }

@-webkit-keyframes uil-default-anim {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes uil-default-anim {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.uil-default-css > div:nth-of-type(1) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.uil-default-css > div:nth-of-type(2) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.375s;
  animation-delay: -0.375s; }

.uil-default-css > div:nth-of-type(3) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s; }

.uil-default-css > div:nth-of-type(4) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: -0.125s;
  animation-delay: -0.125s; }

.uil-default-css > div:nth-of-type(5) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.uil-default-css > div:nth-of-type(6) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.125s;
  animation-delay: 0.125s; }

.uil-default-css > div:nth-of-type(7) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.uil-default-css > div:nth-of-type(8) {
  -webkit-animation: uil-default-anim 1s linear infinite;
  animation: uil-default-anim 1s linear infinite;
  -webkit-animation-delay: 0.375s;
  animation-delay: 0.375s; }

.shading {
  position: fixed;
  pointer-events: none;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  transition: all 0.25s ease-in-out;
  background: transparent;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 ); }

@media (min-width: 1780px) {
  .content-row .content {
    margin-right: 0; } }

@media (min-width: 1470px) and (max-width: 1779px) {
  .content-row .content {
    margin-right: 145px; } }

@media (max-width: 768px) {
  .side-bar {
    display: none; }
  .content-row {
    margin-right: 0; }
    .content-row .content {
      margin-right: 0; } }

/*# sourceMappingURL=app.css.map */